html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

pre, i, code, address, caption, cite, code, em, strong, th, tt {
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

p {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table th, table td {
  word-wrap: break-word;
  overflow: hidden; }

ul, ol, menu {
  list-style: none outside none; }

fieldset, img {
  border: none; }

input {
  vertical-align: middle; }

button {
  cursor: pointer; }

textarea {
  vertical-align: middle;
  resize: both; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

a {
  text-decoration: none;
  color: #666666;
  cursor: pointer; }

li {
  list-style: none;
  cursor: pointer;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

#mc-part1 {
  width: 100%;
  height: 35px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  background: #fafafa; }
  #mc-part1 #mc-header-top {
    width: 1200px;
    height: 36px;
    position: relative;
    margin: 0 auto;
    color: #555; }
    #mc-part1 #mc-header-top .mc-tele {
      width: 124px;
      height: 20px;
      position: absolute;
      top: 9px;
      border-right: 1px solid #d9d9d9; }
      #mc-part1 #mc-header-top .mc-tele .mc-phone1 {
        width: 20px;
        height: 20px;
        background: url(../images/index/sprite.png) no-repeat; }
      #mc-part1 #mc-header-top .mc-tele span {
        float: left;
        font-size: 8px; }
      #mc-part1 #mc-header-top .mc-tele span:nth-child(2) {
        width: 90px;
        height: 20px;
        line-height: 20px;
        text-align: center; }
    #mc-part1 #mc-header-top .mc-download {
      width: 94px;
      height: 27px;
      position: absolute;
      padding-top: 9px;
      left: 145px; }
      #mc-part1 #mc-header-top .mc-download .mc-phone2 {
        width: 20px;
        height: 20px;
        float: left;
        background: url(../images/index/sprite.png) no-repeat -20px 0; }
      #mc-part1 #mc-header-top .mc-download a {
        display: block;
        width: 94px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 8px; }
      #mc-part1 #mc-header-top .mc-download .mc-code {
        cursor: pointer;
        z-index: 2;
        display: none;
        width: 98px;
        height: 120px;
        background: white;
        background: url(../images/index/encode.png) no-repeat 11px 10px;
        border: 1px solid #ececec;
        text-align: center;
        line-height: 210px;
        font-size: 10px;
        position: absolute;
        top: 35px;
        left: 0px; }
        #mc-part1 #mc-header-top .mc-download .mc-code .mc-angle1 {
          width: 17px;
          height: 8px;
          background: url(../images/index/sprite.png) no-repeat -80px -12px;
          position: absolute;
          left: 40px;
          top: -8px; }
    #mc-part1 #mc-header-top .mc-load {
      width: 122px;
      height: 20px;
      position: absolute;
      right: 105px;
      top: 9px;
      font-size: 10px;
      text-align: center;
      border-right: 1px solid #d9d9d9; }
      #mc-part1 #mc-header-top .mc-load a {
        display: block;
        float: left;
        font-size: 8px;
        width: 54px;
        height: 20px;
        text-align: center;
        line-height: 20px; }
    #mc-part1 #mc-header-top .mc-shop {
      width: 82px;
      height: 27px;
      position: absolute;
      right: 0;
      padding-top: 9px;
      cursor: pointer; }
      #mc-part1 #mc-header-top .mc-shop span {
        float: left; }
      #mc-part1 #mc-header-top .mc-shop .mc-bao {
        display: block;
        width: 16px;
        height: 20px;
        background: url(../images/index/sprite.png) no-repeat -43px 1px; }
      #mc-part1 #mc-header-top .mc-shop .mc-bag {
        width: 66px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 10px; }
      #mc-part1 #mc-header-top .mc-shop .mc-show {
        display: none;
        opacity: 0;
        width: 383px;
        height: 80px;
        background: white;
        z-index: 2;
        position: absolute;
        right: 0px;
        top: 34px;
        border: 1px solid #ececec;
        text-align: center;
        line-height: 80px;
        font-size: 10px;
        color: #555; }
        #mc-part1 #mc-header-top .mc-shop .mc-show .mc-angle2 {
          width: 17px;
          height: 8px;
          background: url(../images/index/sprite.png) no-repeat -80px -12px;
          position: absolute;
          left: 340px;
          top: -8px; }

#mc-part2 {
  width: 100%;
  height: 99px;
  background: #fff; }
  #mc-part2 .mc-header-middle {
    width: 1200px;
    height: 99px;
    margin: 0 auto;
    position: relative; }
    #mc-part2 .mc-header-middle .mc-logo {
      width: 360px;
      height: 99px;
      margin: 0 auto;
      overflow: hidden; }
      #mc-part2 .mc-header-middle .mc-logo a {
        display: block;
        width: 360px;
        height: 64px;
        margin-top: 35px;
        text-align: center; }
        #mc-part2 .mc-header-middle .mc-logo a img {
          width: 220px;
          height: 60px; }
    #mc-part2 .mc-header-middle .mc-search {
      width: 195px;
      height: 30px;
      position: absolute;
      top: 45px;
      right: 0px; }
      #mc-part2 .mc-header-middle .mc-search input {
        border: none;
        outline: none;
        width: 165px;
        height: 30px;
        float: left;
        color: #999999;
        font-size: 8px;
        border-bottom: 1px solid #e8e8e8; }
      #mc-part2 .mc-header-middle .mc-search .mc-glass {
        width: 18px;
        height: 20px;
        margin-right: 10px;
        margin-top: 5px;
        float: right;
        background: url(../images/index/sprite.png) no-repeat -60px 0;
        cursor: pointer; }

#mc-part3 {
  width: 100%;
  height: 61px;
  padding-top: 10px;
  position: relative;
  margin-bottom: 30px;
  background: #fff; }
  #mc-part3 #mc-shadow {
    z-index: -1;
    width: 100%;
    height: 9px;
    background: url(../images/index/headerbg.png);
    position: absolute;
    top: 72px; }
  #mc-part3 #mc-nav {
    width: 1200px;
    height: 61px;
    margin: 0 auto;
    font-weight: 600; }
    #mc-part3 #mc-nav span {
      display: block;
      width: 17px;
      height: 8px;
      background: url(../images/index/sprite.png) no-repeat -80px -12px;
      position: absolute; }
    #mc-part3 #mc-nav li:hover {
      color: #000; }
    #mc-part3 #mc-nav #mc-ul {
      width: 1200px;
      height: 61px; }
      #mc-part3 #mc-nav #mc-ul li:hover a {
        color: #000; }
      #mc-part3 #mc-nav #mc-ul li {
        float: left;
        width: 120px;
        line-height: 60px; }
        #mc-part3 #mc-nav #mc-ul li a {
          color: #666;
          display: block;
          font-size: 14px;
          width: 120px;
          height: 61px; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 {
        display: none;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 220px;
        padding-top: 25px;
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        color: #686868;
        font-size: 14px;
        font-weight: normal;
        text-align: left; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-angleup1 {
          left: 280px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 li {
          width: 100%;
          height: 34px;
          line-height: 34px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 li a {
            width: 100%;
            height: 34px;
            line-height: 34px;
            color: #686868;
            font-size: 14px;
            font-weight: 900; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 li a:hover {
            color: #000; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-left {
          text-align: left;
          float: left;
          width: 65px;
          height: 93px;
          margin-left: 350px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-left li {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-middle {
          float: left;
          width: 120px;
          height: 170px;
          margin-left: 200px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-middle li {
            text-align: left; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-middle li:nth-child(1) {
            font-weight: 900; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-right {
          float: left;
          width: 120px;
          height: 170px;
          margin-left: 140px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-right li {
            text-align: left; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(2) .mc-nav-select1 .mc-sele1-right li:nth-child(1) {
            font-weight: 600; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 {
        display: none;
        width: 100%;
        height: 380px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 li {
          height: 40px;
          width: 100%; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-angleup2 {
          left: 525px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-left {
          width: 160px;
          float: left;
          margin-left: 218px;
          line-height: 30px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-left li {
            width: 100%;
            line-height: 30px;
            text-align: left; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-middle {
          float: left;
          width: 150px;
          margin-left: 106px;
          line-height: 30px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-middle li {
            width: 100%;
            line-height: 30px;
            text-align: left; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-right {
          float: left;
          width: 150px;
          margin-left: 130px;
          line-height: 30px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-right li {
            width: 100%;
            line-height: 30px;
            text-align: left; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-last {
          float: left;
          width: 155px;
          margin-left: 150px;
          line-height: 30px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(4) .mc-nav-select2 .mc-sele2-last li {
            width: 100%;
            line-height: 30px;
            text-align: left; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 {
        display: none;
        width: 100%;
        height: 430px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 li {
          height: 40px;
          width: 100%;
          text-align: left; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-angleup3 {
          left: 645px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-left {
          width: 190px;
          float: left;
          margin-left: 150px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-left li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-middle {
          width: 190px;
          float: left;
          margin-left: 110px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-middle li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-right {
          width: 190px;
          float: left;
          margin-left: 110px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-right li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-last {
          width: 190px;
          float: left;
          margin-left: 110px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(5) .mc-nav-select3 .mc-sele3-last li:nth-child(1) {
            font-weight: 600; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 {
        display: none;
        width: 100%;
        height: 320px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 li {
          height: 40px;
          width: 100%;
          text-align: left;
          line-height: 40px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 .mc-angleup4 {
          left: 765px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 .mc-sele4-left {
          width: 185px;
          float: left;
          margin-left: 480px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 .mc-sele4-left li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 .mc-sele4-right {
          width: 190px;
          float: left;
          margin-left: 90px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(6) .mc-nav-select4 .mc-sele4-right li:nth-child(1) {
            font-weight: 600; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 {
        display: none;
        width: 100%;
        height: 320px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 li {
          height: 40px;
          width: 100%;
          text-align: left;
          line-height: 40px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 .mc-angleup5 {
          right: 525px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 .mc-sele5-left {
          width: 185px;
          float: left;
          margin-left: 480px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 .mc-sele5-left li {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 .mc-sele5-right {
          width: 215px;
          float: left;
          margin-left: 90px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(7) .mc-nav-select5 .mc-sele5-right li:nth-child(1) {
            font-weight: 600; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 {
        display: none;
        width: 100%;
        height: 390px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 li {
          height: 40px;
          width: 100%;
          text-align: left;
          line-height: 40px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 .mc-angleup6 {
          right: 405px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 .mc-sele6-left {
          width: 200px;
          float: left;
          margin-left: 480px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 .mc-sele6-left li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 .mc-sele6-right {
          width: 200px;
          float: left;
          margin-left: 70px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(8) .mc-nav-select6 .mc-sele6-right li:nth-child(1) {
            font-weight: 600; }
      #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 {
        display: none;
        width: 100%;
        height: 390px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0px;
        top: 71px;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 2px 1px -2px #ccc;
        padding-top: 25px;
        color: #686868;
        font-size: 14px;
        font-weight: normal; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 li {
          height: 40px;
          width: 100%;
          text-align: left;
          line-height: 40px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-angleup7 {
          right: 284px;
          top: -8px; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-left {
          width: 200px;
          float: left;
          margin-left: 330px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-left li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-middle {
          width: 200px;
          float: left;
          margin-left: 80px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-middle li:nth-child(1) {
            font-weight: 600; }
        #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-right {
          width: 200px;
          float: left;
          margin-left: 150px; }
          #mc-part3 #mc-nav #mc-ul li:nth-child(9) .mc-nav-select7 .mc-sele7-right li:nth-child(1) {
            font-weight: 600; }

#mc-part4 {
  width: 100%;
  height: 428px; }
  #mc-part4 #mc-shopcar-container {
    width: 1200px;
    height: 428px;
    margin: 0 auto;
    font-size: 14px; }
    #mc-part4 #mc-shopcar-container .mc-shopcar-top {
      width: 1200px;
      height: 43px;
      margin-bottom: 10px;
      height: 43px;
      border: solid 1px #e8e8e8;
      background: #f5f5f5;
      color: #333;
      line-height: 43px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top div {
        float: left;
        font-size: 14px;
        color: #6c6c6c; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-allselect {
        width: 200px;
        height: 43px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-allselect input {
          margin-left: 30px;
          margin-right: 5px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-info {
        width: 315px;
        height: 43px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-price {
        width: 200px;
        height: 43px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-num {
        width: 160px;
        height: 43px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-top .mc-top-add {
        width: 185px;
        height: 43px; }
    #mc-part4 #mc-shopcar-container .mc-shopcar-middle {
      width: 1140px;
      height: 146px;
      border: solid 1px #e8e8e8;
      padding: 0 30px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle div {
        float: left; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-select {
        width: 13px;
        height: 146px;
        line-height: 146px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-img {
        width: 98px;
        height: 98px;
        margin: 23px 30px;
        border: 1px solid #ccc; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-img img {
          width: 100%;
          height: 100%; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-info {
        width: 300px;
        height: 116px;
        padding-top: 30px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-info .mc-info-brand, #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-info .mc-info-name {
          font-size: 14px;
          color: #333;
          margin: 5px 0px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-info .mc-info-color {
          font-size: 12px;
          color: #999;
          margin-top: 5px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-price {
        width: 175px;
        height: 144px;
        line-height: 144px;
        color: #555; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-num {
        width: 120px;
        height: 144px;
        line-height: 144px;
        margin-right: 50px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-num button {
          width: 22px;
          height: 22px;
          border: none;
          background: #fff;
          outline: none;
          border: 1px solid #ccc; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-num input {
          width: 56px;
          height: 22px;
          border: none;
          outline: none;
          text-align: center;
          border: 1px solid #ccc; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-add {
        width: 150px;
        height: 144px;
        line-height: 144px;
        color: #555; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-dele {
        width: 148px;
        height: 94px;
        padding-top: 50px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-middle .mc-mid-dele p {
          cursor: pointer; }
    #mc-part4 #mc-shopcar-container .mc-shopcar-bottom {
      width: 1200px;
      height: 150px;
      margin-top: 10px;
      padding-top: 20px;
      background: #fcfcfc;
      border: solid 1px #e8e8e8; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom div {
        float: left; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-allselect {
        width: 200px;
        height: 43px; }
        #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-allselect input {
          margin-left: 30px;
          margin-right: 5px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-delecheck {
        width: 84px;
        height: 40px;
        font-size: 12px;
        margin-right: 10px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-shouchang {
        width: 84px;
        height: 40px;
        font-size: 12px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-end {
        width: 335px;
        height: 70px;
        margin-left: 462px; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-back {
        width: 145px;
        height: 48px;
        display: block;
        margin-left: 50px;
        text-align: center;
        line-height: 48px;
        cursor: pointer; }
      #mc-part4 #mc-shopcar-container .mc-shopcar-bottom .mc-bom-total {
        width: 165px;
        height: 50px;
        float: right;
        margin-right: 20px;
        background: darkred;
        color: white;
        text-align: center;
        line-height: 48px;
        cursor: pointer; }
